@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');



body{
    font-family: 'Merriweather', serif;
    background-color: whitesmoke;
}

html{
    font-size:16px;
}

.card{
    background-color: rgb(43, 214, 226);
    padding: 1.5rem 2rem;
    text-align: center;
    max-width: 300px;
    margin: 3rem auto;
    border: 4px solid transparent;
}


 .card-1{ 
    border-color:rgb(218, 32, 156) ;
}

 .card-2{
    border-color: rgba(189, 183, 107, 0.945);
}
 .title{
    text-transform:uppercase;
}